*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url(https://images.unsplash.com/photo-1517338482058-3ca727223089?auto=format&fit=crop&q=80&w=2073&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D ) no-repeat;
  background-size: cover;
  background-position: center

}

.wrapper{
  width: auto;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(9px);
  color: cyan;
  border-radius: 20px;
  padding: 30px 40px;
}
.wrapper h1{
  font-size: 36px;
  text-align: center;
  color: navy;
}
.wrapper .input-box{
  position: relative;
  width: 100%;
  height: 50px;
  color: cyan;
  margin: 30px 0;
}
.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color:#fd5800 ;
  padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
  color:#fd5800 ;
}
.input-box i{
  position: absolute;
  right: 20px;
  top: 30%;
  transform: translate(-50%);
  font-size: 20px;

}
.wrapper .remember-forgot{
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}
.remember-forgot label input{
  accent-color:#fd5800 ;
  margin-right: 3px;

}
.remember-forgot a{
  color: #fd5800;
  text-decoration: none;

}
.remember-forgot a:hover{
  text-decoration: underline;
  color: cyan;
}
.wrapper .btn {
  width: 100%;
  height: 45px;
  background: navy;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-weight: 600;
}

.wrapper .btn:hover{
  scale: 1.05;
     color: #fd5800;
}


.wrapper .register-link{
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;

}
.register-link p a{
  color:#fd5800 ;
  text-decoration: none;
  font-weight: 600;
}
.register-link p a:hover{
  text-decoration: underline;
  color: cyan;
}

/* Style for the Font Awesome icon */
#home {
    font-size: 24px; /* Adjust the icon size as needed */
    color: navy; /* Change the icon color to your preference */
    margin-right: 8px; /* Add some spacing between the icon and text */

}


